# Core unbound configuration
# {{ansible_managed}}
{# seemingly empty lines are important; forcing j2 newlines #}
server:
    logfile: "{{unbound_log_file}}"
    log-time-ascii: yes
    use-syslog: {% if unbound_syslog %}yes{% else %}no{% endif %}

    pidfile: "{{unbound_pidfile}}"
    hide-version: yes
    hide-identity: yes
{% if not unbound_compat_14 %}
    hide-trustanchor: yes
{% if unbound_root_hints_fetch %}
    root-file: {{unbound_root_hints_file}}
{% endif %}
{% endif %}
    verbosity: {{unbound_verbosity}}
    port: {{unbound_port}}
    username: "{{unbound_user}}"
    directory: "{{unbound_directory}}"

    do-ip6: {% if unbound_ipv6 %}yes{% else %}no{% endif %}

    do-udp: {% if unbound_udp_listen %}yes{% else %}no{% endif %}

    do-tcp: {% if unbound_tcp_listen %}yes{% else %}no{% endif %}

    do-not-query-localhost: {% if unbound_do_not_query_localhost %}yes{% else %}no{% endif %}

    prefetch: {% if unbound_prefetch %}yes{% else %}no{% endif %}

    rrset-roundrobin: {% if unbound_rrset_roundrobin %}yes{% else %}no{% endif %}

{% for domain in unbound_private_domains %}
{{'    '}}private-domain: {{domain}}
{% endfor %}
{% for forward in unbound_forward_zones %}
{{'    '}}private-domain: {{forward.name}}
{% endfor %}
{% for acl in unbound_acl %}
{{'    '}}access-control: {{acl.network}} {{acl.permission|default('allow')}}
{% endfor %}
{% for interface in unbound_interfaces %}
{{'    '}}interface: {{interface}}
{% endfor %}
{% for address in unbound_private_addresses %}
{{'    '}}private-address: {{address}}
{% endfor %}
{% if unbound_forward_default %}
forward-zone:
    name: "."
{% for address in unbound_forward_default_addresses %}
{{'    '}}forward-addr: "{{address}}"
{% endfor %}
{% endif %}
{% if unbound_forward_zones|length > 0 %}
include: "{{unbound_forwards_file}}"
{% endif %}
